body {
  margin: 0;
  background: #0a0f1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

canvas {
  border: 4px solid white;
  background: #aee8ff;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: Arial;
  font-weight: bold;
}
